@import './prism.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

section,
body {
	font-family: 'DM Sans Variable', sans-serif;
	background-color: #fff;
	line-height: 1.75rem;
	color: black;
}

h1 {
	font-family: 'Instrument Serif', serif;
}

@layer components {
	.main-site-shadow-border {
		@apply border border-zinc-200 shadow-[0px_0px_0px_1px_rgba(0,0,0,0.1)] rounded-full;
		box-shadow: 0 3px 6px 0 rgba(128, 128, 128, 0.19), 0 10px 10px 0 rgba(255, 255, 255, 0.17),
			0 23px 14px 0 rgba(255, 255, 255, 0.1), 0 41px 17px 0 rgba(255, 255, 255, 0.03),
			0 0.5px 0.5px 0 rgba(255, 255, 255, 0.16);
	}

	.main-site-hover {
		@apply transition-transform duration-300 ease-in-out hover:scale-105;
	}
}
