@import './prism.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

section,
body {
	font-family: 'DM Sans Variable', sans-serif;
	background-color: #fff;
	line-height: 1.75rem;
	color: black;
}

h1 {
	font-family: 'Instrument Serif', serif;
}
